{% extends "layout.html" %} 
{% load static %} 
{% block store %}

<div class="container">
  <div class="row">
    <div class="form-container">
      <form action="" method="POST" enctype="multipart/form-data" >

        {% csrf_token %}

        {% for field in form %}
       
          <div class="form-element">
            {{field.label_tag}}
            {{field}}
          </div>
        
        {% endfor %}
        <input class="btn" type="submit" value="submit" >

      </form>
    </div>
  </div>
</div>

{% endblock %}


{% block scripts %}
<script src="{% static 'store/js/main.js' %}"></script>
{% endblock scripts %}