{% extends "layout.html" %} {% load static %} {% block store %}

<div class="container  book-detail-container">
  <div class="row">
    <div class="col-12 book-card">
      <div class="book-content-wrapper">
        <div class="book-info">
          <h2>{{title}}</h2>
          <h3>{{author}}</h3>
          <h3>Precio: {{price}}</h3>
        </div>
        <div class="book-image-container">
          <img src="{{image}}" class="book-cover" alt="">
        </div>
        <div class="book-actions">
          <a href="{% url 'all_books' %}">Back to the bookstore</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}