.form-container {
    display: flex;
    flex-direction: column;
    
    max-width: 35rem;
    margin: 2rem auto;
    padding: 2rem 0;
    border-radius: 8px;
    border: 1px solid var(--color-highlight);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-bg);
    padding: 1rem;
    width: 90%;
}


.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-element label {
    text-align: right;
    font-weight: 600;
    text-align: start;
}

.form-element input,
.form-element select,
.form-element textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 4px;
}


.form-container .btn {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: var(--color-hover);
}

.form-container h2, p {
    text-align: center;
}