.form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--color-highlight);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: var(--color-bg)
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container .form-group {
    margin-bottom: 15px;
}

.form-container .btn {
    width: 100%;
    padding: 10px;
    background-color: var(--color-primary);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-container .btn:hover {
    background-color: var(--color-hover);
}

.form-container .form-input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: var(--color-text-light);
    transition: background-color 5000s ease-in-out 0s;
}

.form-container textarea.form-input:focus {
    background-color: #FFFFFF;
    border-color: var(--color-primary)!important;
}




