html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  'Cormorant Garamond', Georgia, "Times New Roman", serif;
    line-height: 1.5;
    background-color: var("--secondary-bg");
}