@import url("reset.css");
@import url("variables.css");
@import url("navbar.css");
@import url("footer.css");
@import url('../main_view/css/main_view.css');
@import url('../main_view/css/about_us.css');
@import url('../main_view/css/search-bar.css');