{% extends 'layout.html' %} {% block about %}
<div class="containe our_story ">
  <p>
    Welcome to Zaratustra, your literary sanctuary where dreams and imagination
    meet the pages of books. At Zaratustra, we believe in the transformative power
    of reading and are dedicated to cultivating a community of book lovers. Our
    mission is to provide a welcoming space where every visitor feels inspired to
    explore and discover new stories. From timeless classics to the latest
    releases, our carefully curated selection spans a wide range of genres and
    themes to cater to every taste. With a passionate team of librarians and
    literature enthusiasts, we are here to help you find that special book that
    will take you on an unforgettable journey. Whether you're seeking an exciting
    adventure, a literary masterpiece, or simply a quiet corner to immerse
    yourself in reading, Zaratustra is your ultimate literary destination. Join us
    as we explore the vast world of literature and together discover the magic
    that resides between the pages of a book.
  </p>
</div>
{% endblock %}