.hero-section {
  position: relative;
  height: 70vh;
}

#main-popup {
  background-color: #b7343bd3;
  color: var(--color-text-light);
  position: absolute;
  border-radius: 12px;
  width: 30vw;
  z-index: 10;
  padding: 2rem;
  text-align: start;
}

#img-container {
  padding: 0;
  margin: 0;
}

.custom-img {
  display: block;
  width: 100%;
}

#img-container img {
  display: block;
  width: 100%;
}

.carousel__container {
  padding-top: 2rem; 
}

/* -------------------CAROUSEL-------------------------*/
.carousel__title {
  text-align: center;
  margin-top: 2rem;
}


.carousel-item img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.carousel-item {
  position: relative;
  height: 600px;
}

/*------------ media queries -----------*/

@media (max-width: 576px) {
  .hero-section {
    height: 40vh;
    overflow: hidden;
  }

  #main-popup {
    width: 85vw;
    height: 35vh;
    top: 1.8%;
    left: 11%;
    padding: 1rem;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.carousel__title {
  margin-top: 2rem;
}


@media (min-width: 577px) and (max-width: 767px) {
  #main-popup {
    width: 60vw;
    top: 10%;
    left: 25%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 50%;
  }

  .carousel__title {
    margin-top: 4rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #main-popup {
    width: 50vw;
    top: 10%;
    left: 40%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 70vh;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #main-popup {
    width: 35vw;
    top: 10%;
    left: 60%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 60vh;
  }
}

@media (min-width:1200px) {
  #main-popup {
    width: 40vw;
    top: 10%;
    left: 55%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 70vh;
  }
}

@media (min-width: 1200px) {
  #main-popup {
    top: 10%;
    left: 55%;
  }
}