.hero-section {
  position: relative;
  height: 70vh;
}

#main-popup {
  background-color: #b7343bd3;
  color: var(--color-text-light);
  position: absolute;
  top: 20%;
  right: 10%;
  border-radius: 12px;
  width: 30vw;
  z-index: 10;
  padding: 2rem;
  text-align: start;
}

#img-container {
  padding: 0;
  margin: 0;
}

.custom-img {
  display: block;
  width: 100%;
  height: 90vh;
}

#img-container img {
  display: block;
  width: 100%;
}

/* -------------------CAROUSEL-------------------------*/

.carousel-item img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.carousel-item {
  position: relative;
  height: 600px;
}

/*------------ media queries -----------*/

@media (max-width: 576px) {
  #main-popup {
    width: 80vw;
    height: 40vh;
    top: 4%;
    left: 11%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height:100%;
  }
}

@media (min-width: 577px) and (max-width: 767px) {
  #main-popup {
    width: 60vw;
    top: 10%;
    left: 10%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height:60%;
  }
}

@media  (min-width: 768px) and (max-width: 991px) {
  #main-popup {
    width: 50vw;
    top: 10%;
    left: 10%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 70vh ;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #main-popup {
    width: 40vw;
    top: 10%;
    left: 50%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 60vh;
  }
}

@media ( min-width:1200px) {
   #main-popup {
    width: 30vw;
    top: 10%;
    left: 55%;
  }

  .custom-img {
    display: block;
    width: 100%;
    height: 70vh;
  }
}

