.form__container {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 55rem;
    position: relative;
}


.my-search-input {
    flex: 1;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    padding: 0.5rem;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    &:focus {
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(183, 52, 59, 0.362);
    }
}



.input-wrapper {
    position: relative;
    flex: 1;

    width: 100%;
}

.results-box {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    list-style: none;
    position: absolute;
    width: 100%;
    top: 100%;
    border-radius: 0 0 10px 10px;
    left: 0;
    right: 0;
}

.result-item {
    transition: color 0.3s ease;
}

.result-item:hover {
    cursor: pointer;
    color: var(--color-muted);
}