{% extends "layout.html" %} {% block title %}Contacto{% endblock %}
{% load static %} {% load i18n %} {% block users %}



<div class="container">
  <div class="row  ">
    <div class="col-12 col-md-5 form-container">
      <h2>Login</h2>
      <p>Access your account to continue</p>
      <div class="form-container">
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-element">
            <input id="user-name" type="text" name="username" class="form-input">
          </div>
          <div class="form-element">
            <input id="user-password" type="password" name="password" class="form-input">
          </div>
          <button type="submit" class="btn "> Sign In
          </button>

        </form>
      </div>
    </div>
  </div>
</div>

<section class="container">
  <div class="row" style="padding-top: 10px">
    <div class="col-12" style="padding: 0px">
      <br />
    </div>
  </div>
</section>

{% endblock %} {% block javascript %}

{% endblock %}
{% block scripts %}
<script>




</script>
{% endblock scripts %}