{% extends "layout.html" %} {% block title %}Contacto{% endblock %} {% load static %}
{% load i18n %} {% block users %}
<!-- ---------------------------------------------------------------------------
-------------- 
------------------------------------------------------------------------------->
<div class="container"></div>

<div class="container-fluid">
  <div class="row reflexion justify-content-around align-items-center border" style="padding-top: 20px">
    <div class="col-12 col-md-5 form-container" style="padding-bottom: 15px">
      <h2 class="h1juan" style="padding-left: 15px">Are you sure you want to logout??</h2>
      <form id="contact" action="{% url 'logout' %}" method="POST" class="col-xs-12">
        {% csrf_token %}


        <div class="row ">

          <div class="" >
            <button id="logout-button" type="submit" class="btn ">Logout</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<section class="container-fluid">
  <div class="row" style="padding-top: 10px">
    <div class="col-12" style="padding: 0px">
      <br />
    </div>
  </div>
</section>

{% endblock %}