{% extends "layout.html" %}
{% load static %}
{% block profile %}
<div class="container profile__container">
  <div class="row">
    <div class="col-12 d-flex flex-column align-items-center">
      <h1 class="mb-4 mt-3 text-center">Welcome to your profile {{ user }}</h1>
      <div class="col-6 p-4">
        <div class="form-container">
          <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              {% for field in form %}
              <div class='form-element'>
                {{ field.label_tag }}
                
                  {{ field }}
                
              </div>
              {% endfor %}
            </div>
            <button type="submit" class="btn">
              Modify
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}