$main-color1: #B7343A;
$main-color2: #f4efea;
$text-color1:#000000;
$text-color2: #ffffff;
$font-family: 'Cormorant Garamond', Georgia, "Times New Roman", serif;
$font-size:19px;
$text-color-hover : #ACC12F ;

