{% extends 'base.html' %} {% load static %} {% block content %}


<!-- <div
  class="container-fluid open-daily text-center d-flex justify-content-center align-items-center"
>
  <strong>Open Daily:</strong>&nbsp;&nbsp;08:00am - 19:00pm
</div> -->

{% block templatetag %} 
{% endblock templatetag %} 
{% block main %} 
{% endblock main %} 
{% block about %} 
{% endblock about %} 
{% block contact %} 
{% endblock contact %} 
{% block users %} 
{% endblock users %} 
{% block store %} 
{% endblock store %} 
{% block javascript %}
{% endblock javascript %} 
{% block profile %} 
{% endblock profile %}
{% block search_book %}
{% endblock search_book %}
{% block cart %}
{% endblock cart %}
<!--------------------------------FOOTER------------------------------->

{% endblock content %}
{% block scripts %} 
{% endblock scripts %}
