{% extends 'base.html' %} {% load static %} 
{% block content %}


{% block templatetag %} 
{% endblock templatetag %} 
{% block main %} 
{% endblock main %} 
{% block about %} 
{% endblock about %} 
{% block contact %} 
{% endblock contact %} 
{% block users %} 
{% endblock users %} 
{% block store %} 
{% endblock store %} 
{% block javascript %}
{% endblock javascript %} 
{% block profile %} 
{% endblock profile %}
{% block search_book %}
{% endblock search_book %}
{% block cart %}
{% endblock cart %}
<!--------------------------------FOOTER------------------------------->

{% endblock content %}
{% block scripts %} 
{% endblock scripts %}
