{% extends "layout.html" %} {% load static %} {% block store %}

<div class="container">
  <div class="row">
    <div class="col-12">
  
      <form action="{% url 'admin_books' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          <label for="id_title">Titulo:</label>

          <input
            type="text"
            name="title"
            maxlength="100"
            required=""
            id="id_title"
            spellcheck="false"
            data-ms-editor="true"
          />
        </div>

        <div>
          <label for="id_status">Estado:</label>

          <select name="status" id="id_status">
            <option value="En stock" selected="">En Stock</option>

            <option value="Sin stock">Sin stock</option>
          </select>
        </div>

        <div>
          <label for="id_in_stock">En Stock</label>

          <input type="number" name="in_stock" required="" id="id_in_stock" />
        </div>

        <div>
          <label for="id_date_of_admision">Fecha de ingreso:</label>

          <input
            type="date"
            name="date_of_admision"
            required=""
            id="id_date_of_admision"
            spellcheck="false"
            data-ms-editor="true"
          />
        </div>

        <div>
          <label for="id_price">Precio:</label>

          <input type="number" name="price" required="" id="id_price" />
        </div>

        <div>
          <label for="id_author">Autor:</label>

          <select name="author" required="" id="id_author">
            <option value="" selected="">---------</option>

            <option value="1">Hermann Hesse</option>

            <option value="2">Eduardo Saccheri</option>

            <option value="3">Friedrich Nietzsche</option>
          </select>
        </div>

        <div>
          <label for="id_publication_date">Fecha de publicacion:</label>

          <input
            type="date"
            name="publication_date"
            required=""
            id="id_publication_date"
            spellcheck="false"
            data-ms-editor="true"
          />
        </div>

        <div>
          <label for="id_cover_image">Imagen de portada:</label>

          <input
            type="file"
            name="cover_image"
            accept="image/*"
            required=""
            id="id_cover_image"
          />
        </div>

        <div>
          <label for="id_synopsis">Sinopsis:</label>

          <textarea
            name="synopsis"
            cols="40"
            rows="10"
            required=""
            id="id_synopsis"
            spellcheck="false"
            data-ms-editor="true"
          ></textarea>
        </div>

        <div>
          <label for="id_slug">Slug:</label>

          <input
            type="text"
            name="slug"
            maxlength="200"
            required=""
            id="id_slug"
            spellcheck="false"
            data-ms-editor="true"
          />
        </div>

        <div>
          <label for="id_genre">Genero:</label>

          <select name="genre" required="" id="id_genre">
            <option value="" selected="">---------</option>

            <option value="1">Novela</option>

            <option value="2">Historia</option>

            <option value="3">Ficción Filosófica</option>
          </select>
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>

{% endblock %} 
<script src="{% static 'js/jquery.js' %}"></script>
<script>
  $("#id_date_of_admision").datepicker({ inline: true });
  $("#id_publication_date").datepicker({ inline: true });
</script>
{% block scripts %}
{% endblock %}
