.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/media/assets/libros.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(1px) grayscale(95%) contrast(70%) brightness(0.3);
  z-index: -1;
 
}

.footer {
  opacity: 0.9;
  border-top: 3px solid black;
  width: 100vw;
  height: 100vh;
  margin-top: 75px;
  position: relative;

  .footer__up {
    margin-top: 62px;
    .footer__h2 {
      color: $text-color2;
      font-family: $font-family;
      font-size: 41px;
    }
    .footer__h2-border {
      width: 400px;
      height: 4px;
      background-color: $main-color1;
      margin: 5px auto 15px;
    }

    .footer__p {
      color: $text-color2;
      font-size: 18px;
      margin-top: 42px;
    }
    .footer__button {
      background-color: $main-color1;
      color: white;
      padding: 7px 12px;
    }
  }

  .border__section {
    width: 76vw;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.34);
    margin: 35px auto 35px;
  }
  .footer__explore,
  .footer__contact,
  .footer__connect,
  .footer__visit {
    margin: 30px 0 30px 0;
    font-weight: 500;
    color: $text-color2;
    height: 200px;
    font-family: $font-family;
  }
  .footer__explore,
  .footer__contact,
  .footer__connect,
  .footer__visit ul,
  li,
  a,
  p {
    list-style: none;
    color: $text-color2;
    font-size: 20px;
  }

  .footer__connect i {
    margin-right: 7px;
    font-size: 35px;
  }
  //
  .fa-square-facebook {
    color: blue;
  }
  .fa-square-instagram {
    color: rgb(212, 148, 12);
  }
  .fa-square-twitter {
    color: #1da1f2;
  }
  .fa-youtube {
    color: #c4302b;
  }
}
