// Carousel

.image-container {
  position: relative;
  min-height: 900px;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup-window {
  max-width: 30vw; /* Ancho m치ximo con relaci칩n al viewport */
  max-height: 90vh;
  background-color: $main-color1;
  // overflow: auto;
  opacity: 0.9;
  flex-shrink: 1;
  color: $text-color2;
  font-weight: bold;
  font-family: $font-family;
  position: absolute;
  left: 60vw;
  top: 55vh;
}

.carousel__container {
  background-color: $main-color2;
}

.carousel__title {
  font-family: $font-family;
  color: $main-color1;
}
.carousel-inner {
  width: 400px;
  height: auto;
  overflow: hidden;
}
.carousel-inner h1 {
  font-family: $font-family;
  color: $main-color1;
}
.carousel-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

// media queries

@media (max-width: 1185px) {
  .popup-window {
    max-width: 60vw; /* Ancho m치ximo con relaci칩n al viewport */
    height: 40vh;
    padding: 20px;
    left: 10vw;
    top: 40vh;
    object-fit: auto;
    height: auto;
    font-size: 15px;
  }
}
