.navbar {
  background-color: #f4efea;
  
      .nav-button {
        background-color: #f4efea;
      }
      #logo {
        width: 120px;
        height: 70px;
      }
    
      .nav-ul li {
        font-family: $font-family;
        font-size:$font-size;
        font-weight: bold;
        color: $text-color1;
        list-style-type: none;
        padding: 12px;
        margin: 0 12px 0 12px;
        white-space: nowrap;
        margin:0 15px 0;
      }
        
}
.open-daily {
  background-color:$main-color1;
  height: 52px;
  color: #FFFFFF;
  margin-bottom: 12px;
  
  }
  .open-daily strong {
    font-weight: 600;
    font-family: Helvetica, sans-serif;
  }
 
.navbar-brand {
  margin-left: 17px;
}