.card {
  background-color: $main-color2;
  
}
.card-title {
  white-space: nowrap;
  max-height: 2.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-title,
.card-text {
  font-family: $font-family;
}

.card-img-top {
  height: 390px;
}
