.navbar {
    background-color: var(--color-bg);
    padding: 0 3rem;
}


.navbar-brand {
    padding: 0;         
    margin-right: 20px; 
    display: flex;      
    align-items: center;
    background-color: var(--color-bg);
}

.navbar-brand img {
    height: 4rem;
    width: auto;
    background-color: var(--color-bg);
}

#logo {
    width: 11rem;
    height: auto;
}

.nav-item {
    font-size: 1.3rem;
    margin-left: 1rem;
    font-weight: 600;
}








.open-daily {
    background-color: var(--color-primary);
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--color-text-light);

}