:root {
    --color-primary: #B7343A;        
    --color-bg: #FDF7F5;             
    --color-text-dark: #1C1C1C;     
    --color-text-light: #FFFFFF;     
    --color-accent: #7A9E7E;        
    --color-muted: #AFAFAF;         
    --color-highlight: #D9C6B0;      /
}
