{% extends "layout.html" %} {% block title %}Contacto{% endblock %} 
{% load static %} {% load i18n %} {% block users %}

<div class="container"></div>

<div class="container-fluid">
  <div
    class="row reflexion justify-content-around align-items-center border"
    style="padding-top: 20px"
  >
    <div class="col-12 col-md-5 contacto_form" style="padding-bottom: 15px">
      
      <form action="" method="POST">{% csrf_token %}
        <input id="user-name" type="text" name="username">
        <input id="user-password" type="password" name="password">
        <button type="submit" class="btn btn-danger float-right" > Sign In
        </button>

      </form>
    </div>
  </div>
</div>

<section class="container-fluid">
  <div class="row" style="padding-top: 10px">
    <div class="col-12" style="padding: 0px">
      <br />
    </div>
  </div>
</section>

{% endblock %} {% block javascript %}

{% endblock %}
{% block scripts %}
<script>
 

  $("input").css({
    width: "100%",
    "text-align": "center",
    "margin-bottom": "7px",
  });
  

  $("#user-name").attr("placeholder", "Name");
  $("#user-password").attr("placeholder", "Password");
  
</script>
{% endblock scripts %}

